.header-container{
    position: relative;
    background-image: url("../../../images/chair-bg.png");
    background-size: cover;
}

.header-container::after{
    height: 80%;
    content: " ";
    position: absolute;
    top: 0;
    width: 30%;
    right: 0;
    background: #3a4356;
    z-index: -10;
}