.doctors-container{
    text-align: center;
    margin: 40px 10px;
    padding: 10px;
}

.doctors-container h2{
    color: #1cc7c1;
}

.doctors-card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}